@model OPT.Web.Areas.OrdenTrabajo.Models.OrdenTrabajoResponse
@{
    Layout = null;
}

<input type="hidden" id="CheckCristalesLaboratorio" name="CheckCristalesLaboratorio" value="0" />
<input type="hidden" id="CheckUrgente" name="CheckUrgente" value="0" />
<input type="hidden" id="CheckLejos" name="CheckLejos" value="0" />
<input type="hidden" id="CheckCerca" name="CheckCerca" value="0" />
<input type="hidden" id="RecetaRutCliente" name="RutCliente" value="" />
<input type="hidden" id="idRecetaCristales" name="idRecetaCristales" value="@(Model.receta == null? 0 : Model.receta.idRecetaCristales)" />
<input type="hidden" id="RecetaFechaIngreso" name="FechaIngreso" value="@DateTime.Now.ToShortDateString()" />

<div class="form-group row">
    <div class="col-sm-4">
        <label> Cristales de Laboratorios</label>
        <input type="checkbox" id="checkCristalesLaboratorio" class="custom-checkbox" />
    </div>
    <div class="col-sm-4">
        <label> Urgente</label>
        <input type="checkbox" id="checkUrgente" class="custom-checkbox" />
    </div>
</div>
<hr />
<div class="form-group row">
    <div class="col-sm-6">
        <label>Incluir Cristales Lejos</label>
        <input type="checkbox" id="checkLejos" class="custom-checkbox" />
    </div>
    <div class="col-sm-6">
        <label>Incluir Cristales Cerca</label>
        <input type="checkbox" id="checkCerca" class="custom-checkbox" />
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-6">
        <div class="table-responsive">

            <table class="table table-sm table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Lejos</th>
                        <th>Esferico</th>
                        <th>Cilindrico</th>
                        <th>Eje</th>
                        <th>Observacion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>OD</td>
                        <td><input type="text" id="LejosODEsferico" name="LejosODEsferico" class="form-control form-control-sm" maxlength="10" data-tipo="DecimalNegativo"></td>
                        <td><input type="text" id="LejosODCilindro" name="LejosODCilindro" class="form-control form-control-sm" maxlength="10" data-tipo="DecimalNegativo"></td>
                        <td><input type="text" id="LejosODEje" name="LejosODEje" class="form-control form-control-sm" maxlength="10" data-tipo="DecimalNegativo"></td>
                        <td><input type="text" id="LejosODObservacion" name="LejosODObservacion" class="form-control form-control-sm" maxlength="50"></td>
                    </tr>
                    <tr>
                        <td>OI</td>
                        <td><input type="text" id="LejosOIEsferico" name="LejosOIEsferico" class="form-control form-control-sm" maxlength="10" data-tipo="DecimalNegativo"></td>
                        <td><input type="text" id="LejosOICilindro" name="LejosOICilindro" class="form-control form-control-sm" maxlength="10" data-tipo="DecimalNegativo"></td>
                        <td><input type="text" id="LejosOIEje" name="LejosOIEje" class="form-control form-control-sm" maxlength="10" data-tipo="DecimalNegativo"></td>
                        <td><input type="text" id="LejosOIObservacion" name="LejosOIObservacion" class="form-control form-control-sm" maxlength="50"></td>
                    </tr>
                    <tr>
                        <td>DP</td>
                        <td><input type="text" id="LejosDPEsferico" name="LejosDPEsferico" class="form-control form-control-sm" maxlength="10" data-tipo="DecimalNegativo"></td>
                        <td colspan="3"><input type="text" id="LejosDPObservacion" name="LejosDPObservacion" class="form-control form-control-sm" maxlength="50"></td>
                    </tr>
                    <tr>
                        <td>ADD</td>
                        <td><input type="text" id="LejosADDEsfera" name="LejosADDEsfera" class="form-control form-control-sm" maxlength="10" data-tipo="DecimalNegativo"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="col-sm-6">
        <div class="table-responsive">

            <table class="table table-sm table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Cerca</th>
                        <th>Esferico</th>
                        <th>Cilindrico</th>
                        <th>Eje</th>
                        <th>Observacion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>OD</td>
                        <td><input type="text" id="CercaODEsferico" name="CercaODEsferico" class="form-control form-control-sm" maxlength="10" data-tipo="DecimalNegativo"></td>
                        <td><input type="text" id="CercaODCilindro" name="CercaODCilindro" class="form-control form-control-sm" maxlength="10" data-tipo="DecimalNegativo"></td>
                        <td><input type="text" id="CercaODEje" name="CercaODEje" class="form-control form-control-sm" maxlength="10" data-tipo="DecimalNegativo"></td>
                        <td><input type="text" id="CercaODObservacion" name="CercaODObservacion" class="form-control form-control-sm" maxlength="50"></td>
                    </tr>
                    <tr>
                        <td>OI</td>
                        <td><input type="text" id="CercaOIEsferico" name="CercaOIEsferico" class="form-control form-control-sm" maxlength="10" data-tipo="DecimalNegativo"></td>
                        <td><input type="text" id="CercaOICilindro" name="CercaOICilindro" class="form-control form-control-sm" maxlength="10" data-tipo="DecimalNegativo"></td>
                        <td><input type="text" id="CercaOIEje" name="CercaOIEje" class="form-control form-control-sm" maxlength="10" data-tipo="DecimalNegativo"></td>
                        <td><input type="text" id="CercaOIObservacion" name="CercaOIObservacion" class="form-control form-control-sm" maxlength="50"></td>
                    </tr>
                    <tr>
                        <td>DP</td>
                        <td><input type="text" id="CercaDPEsferico" name="CercaDPEsferico" class="form-control form-control-sm" maxlength="10" data-tipo="DecimalNegativo"></td>
                        <td colspan="3"><input type="text" id="CercaDPObservacion" name="CercaDPObservacion" class="form-control form-control-sm" maxlength="50"></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>

<div class="form-group row">
    <div class="col-sm-12  text-right">
        <button type="button" id="btnVolverCliente" class="btn btn-sm border-secondary"><i class="fa fa-arrow-left"></i> Volver</button>
        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-arrow-right"></i> Siguiente</button>
    </div>
</div>
